/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	padding: 50px;
}

.well h2 {
	font-size: 1.9em;
}

h3 a {
	font-size: 0.8em;
}

.footer {
	padding: 10px 0;
	text-align: center;
	font-size: 10px;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}

.footerimg {
	width: 32px;
	height: 32px
}

.desaturate {
	transition-duration:400ms
}

.desaturate:hover {
	filter:grayscale(100%);
	-webkit-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	-ms-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	filter:url(desaturate.svg#greyscale);
	filter:gray;-webkit-filter:grayscale(1)
}
