<!DOCTYPE html>
<html>
<head>
  <title>Amelia's World Photography</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <div class="footer">
    <p>Amelia - Copyright &copy; 2010 - 2013</p>
      <a href="https://www.facebook.com/amelia.swensersmith" class="desaturate"><img class="footer_img" src="facebook.png" alt="facebook" name="facebook"></a>
  
      <a href="https://plus.google.com/113645980920527105206" class="desaturate"><img class="footer_img" src="googleplus.png" alt="googleplus" name="googleplus"></a>
  
      <a href="http://au.linkedin.com/pub/amelia-swenser-smith/28/9aa/831" class="desaturate"><img class="footer_img" src="linkedin.png" alt="linkedin" name="linkedin"></a>
  
      <a href="https://twitter.com/#!/miarshmallow" class="desaturate"><img class="footer_img" src="twitter.png" alt="twitter" name="twitter"</a>
  </div>

</body>
</html>
